body
{
    overflow-x: hidden;
}
.main {
    width: 350px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}
.navigation {
    width: 100%;
    height: 10%;
}
#top {
    position: absolute;
    top: 1%;
    padding-left: 30px;
    padding-bottom: 5px;
    width: 130px;
    display: inline-block;
    background: #D1D1E0;
}
#set {
    position: absolute;
    top: -20px;
    width: fit-content;
    display: inline-block;
    margin-left: 300px;
    font-size: 40px;
}
.navigation-menu {
    display: none;
    width: 150px;
    position: absolute;
    top: 65px;
    padding-left: -5px;
    padding-right: 10px;
    z-index: 5;
    background: rgba(173, 152, 152, 0.8);
}
.navigation-settings {
    display: none;
    width: 48%;
    position: absolute;
    margin-left: 160px;
    top: 50px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 18px;
    z-index: 5;
    background: rgba(173, 152, 152, 0.8);
    font-size: 25px;
}
#vol {
    width: 70%;
}
#volPic {
    font-size: 35px;
    background: white;
}
.cats {
    display: none;
}
li {
    cursor: pointer;
}
a {
    text-decoration: none;
}
 li a {
    color: var(--secondary);
    list-style-type: none;
} 
.navigation-menu ul li {
    list-style-type: none;
    color: var(--primary);
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 5px;
}
.navigation-menu ul li ul li {
    margin-left: -15px;
    padding-top: 5px;
}

.letter {
    width: 45%;
    height: 20%;
    font-family: Aharoni;
    font-size: 100px;
    color: var(--primary);
    position: relative;
    top: 5%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    cursor: grab;
}
.letter-up {
    width: 48%;
    float: left;
    animation: waving2 3 700ms alternate 1.5s;
    -webkit-animation: waving2 3 700ms alternate 1.5s;
}
.letter:hover > .letter-up {
    animation: waving infinite 700ms alternate;
    -webkit-animation: waving infinite 700ms alternate;
}
.letter-low {
    animation: waving2 3 700ms alternate-reverse 1.5s;
    -webkit-animation: waving2 3 700ms alternate-reverse 1.5s;
}
.letter:hover > .letter-low {
    animation: waving infinite 700ms alternate-reverse;
    -webkit-animation: waving infinite 700ms alternate-reverse;
}
.dino {
    width: 100%;
    height: 30%;
    position: relative;
}
.dino-pic {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    cursor: grab;
    animation: waving2 3 700ms alternate 1.5s;
    -webkit-animation: waving2 3 700ms alternate 1.5s;
}
.dino-pic:hover {
    animation: waving2 infinite 700ms alternate;
    -webkit-animation: waving2 infinite 700ms alternate;
}
img {
    width: 100%;
}
.dino-fact {
    display: none;
    background: rgba(204, 102, 153, 0.5); 
    padding: 10px;
    font-size: large;
}
#playBtn {
    border: 1px solid black;
    padding: 5px;
    padding-left: 8px;
    background: lightslategray;
    box-shadow: rgb(53, 53, 53) 5px 3px;
    margin-bottom: 2px;
    color: var(--primary);
}
#stopBtn {
    border: 1px solid black;
    padding: 5px;
    background: lightslategray;
    box-shadow: rgb(53, 53, 53) 5px 3px;
    margin-bottom: 2px;
    color: var(--secondary);
}
.sound {
    width: 100%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    font-family: Aharoni;
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-top: 5%;
}
.dino-name {
    font-size: 290%;
    cursor: grab;
    color: var(--secondary);
    animation: waving2 3 700ms alternate-reverse 1.5s;
    -webkit-animation: waving2 3 700ms alternate-reverse 1.5s;
}
.dino-name:hover {
    animation: waving2 infinite 700ms alternate;
    -webkit-animation: waving2 infinite 700ms alternate;
}

.dino-pron {    
    cursor: grab;
    animation: waving2 3 700ms alternate 1.5s;
    -webkit-animation: waving2 3 700ms alternate 1.5s;
}
.dino-pron:hover {
    animation: waving2 infinite 700ms alternate;
    -webkit-animation: waving2 infinite 700ms alternate;
}
.arrow {
    width: 20%;
    height: 12%;
    position: absolute;
    top: 18%;
    font-size: 270%;
    font-weight: 900;
}
.arrow:hover {
    animation: waving infinite 700ms alternate;
    -webkit-animation: waving infinite 700ms alternate;
}
.prev {
    left: 5%;
}
.next {
    left: 82%;
}
a {
    text-decoration: none; 
    color: var(--secondary);
}
.closebtn {
    float: right;
    clear: right;
    padding-right: 10px;
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.prim {
    color: var(--primary);
    display: inline-block;
}
.sec {
    color: var(--secondary);
    display: inline-block;
}

@keyframes waving {
    0% {transform: rotate(-60deg);}
    50% {transform: rotate(60deg);}
}
@-webkit-keyframes waving {
    0% {-webkit-transform: rotate(-60deg);}
    50% {-webkit-transform: rotate(60deg);}
}

@keyframes waving2 {
    0% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
}
@-webkit-keyframes waving2 {
    0% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(10deg);}
}

@media screen and (min-width: 550px) and (max-width: 1023px) {
    body {
        overflow-y: hidden;
    }
    .main {
        width: 100%;
        height: 100%;
    }
    .dino {
        display: inline-block;
        width: 48%;
        margin-left: 1%;
    }
    .sound  {
        display: inline-block;
        width: 48%;
        margin-left: 1%;
        top: -20px; 
    }
    #set {
        margin-left: 92%;
    }
    .next {
        left: 90%;
    }
    .letter {
        width: 35%;
    }
    .sound {
        font-size: 100%;
    }
    #playBtn {
        width: 30px;
        height: 30px;
        padding: 0px;
        margin: 2px;
        padding-top: 2px;
        box-sizing: border-box;
        top: 0px;
    }
    #stopBtn {
        width: 30px;
        height: 30px;
        padding: 0px;
        margin: 2px;
        box-sizing: border-box;
        top: 2px;
    }
    #cat {
        margin-top: 7px;
    }
    .navigation-settings {
        margin-left: 50%;
    }
}

@media screen and (min-width: 760px) and (orientation: portrait) {
    .dino {
        margin-top: 20%;
    }
    .letter {
        margin-top: 10%;
    }
}

/* @media screen and (min-width: 1024px) {
   .main {
       border: black 1px solid;
       width: 96%;
       margin-left: 2%;
       margin-right: 2%;
   }
    /* #top {
        display: none;
    } */
  /*  .menus {
        display: block;
    }
    .navigation-menu {
        display: block;
        position: relative;
        float: left;
    }
    /* .navigation-menu ul li {
        position: relative;
        float: left;
    } */ 
}